<ol class="breadcrumb">
  <li><a ui-sref="main"><i class="fa fa-home fa-fw"></i><span translate>menu.home</span></a></li>
  <li class="active"><i class="fa fa-envelope fa-fw"></i><span translate>PT.SMS_SERVICE</span></li>
  <li class="active"><i class="fa fa-address-book fa-fw"></i><span translate>P.SMS_SERVICE_03</span></li>
</ol>

<div ng-controller='Sms.BlackListCtrl'>
  <div class="panel panel-primary">
    <div class="panel-heading" layout="row" layout-align="space-between center">
      <span translate>P.SMS_SERVICE_03</span>
      <div class="btn-group">
        <button id="refreshBtn" class="btn btn-xs btn-primary " ng-click="refreshGrid()">
          <i class="fa fa-refresh fa-fw"></i>
          <md-tooltip>{{'msg.refresh' | translate}}</md-tooltip>
        </button>
        <button id="exportBtn" class="btn btn-xs btn-primary " ng-click="exportCSV()" privilege="SMS_SERVICE_03:read">
          <i class="fa fa-save fa-fw"></i>
          <md-tooltip>{{'msg.export.csv' | translate}}</md-tooltip>
        </button>
      </div>
    </div>
    <div ag-grid="grid" style="height: 380px; width: 99.9%;" class="ag-fresh"></div>
  </div>
 
</div>
