<div class="well">
  <div class="avatar" layout="row" layout-align="center center">
    <i class="fa fa-user-circle fa-4x" aria-hidden="true"></i>
  </div>
  <div ng-if="loginError" class="alert alert-danger">{{ loginError | translate}}</div>
  <form name="loginForm" ng-submit="login(credentials)" form-autofill-fix>
    <div class="form-group input-narrow">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span> 
        <input type="text" class="form-control" ng-show="{{userSession == null}}"
          placeholder="{{'auth.login.msg.02' | translate}}" 
          name="username" ng-model="credentials.username"
          ng-required="true" />
        <input type="text" class="form-control" ng-show="{{userSession != null}}"
          placeholder="{{userSession.userId}}" ng-disabled="true"
          name="username" ng-model="credentials.username" 
          ng-required="true" />
      </div>
    </div>
    <div class="alert alert-danger" ng-show="loginForm.$dirty && loginForm.username.$error.required" translate>auth.login.err.01</div>
    <div class="form-group input-narrow">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span> 
        <input type="password" class="form-control" placeholder="{{'auth.login.msg.03' | translate}}" name="userPass"
          ng-model="credentials.password" ng-minlength="pwdConfig.pwd_minL" ng-maxlength="pwdConfig.pwd_maxL" ng-required="true" />
      </div>
    </div>
   	<div class="alert alert-danger" ng-show="loginForm.userPass.$error.maxlength||loginForm.userPass.$error.minlength">{{'auth.login.msg.20g'|translate}} {{"["+ pwdConfig.pwd_minL+ "-" + pwdConfig.pwd_maxL +"]"}} {{'auth.login.msg.20f'|translate}}</div>
    <div layout="row" layout-align="space-between center">
      <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" translate>auth.login.msg.04</button>
    </div>
  </form>
</div>