<md-bottom-sheet layout-gt-sm="row" layout="column" layout-align="space-between">
  <div class="pad10">
    <table class="table">
      <tbody>
        <tr ng-repeat='(key, value) in versionMap'>
          <td>{{key}}</td>
          <td>:</td>
          <td>{{value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pad10">
    <p><i class="fa fa-envelope fa-fw"></i><a href="mailto:support@wisespotgroup.com">support@wisespotgroup.com</a></p>
    <p><i class="fa fa-phone fa-fw"></i><span>(852)6283 0619</span></p>
  </div>
</md-bottom-sheet>
