<ol class="breadcrumb">
  <li><a ui-sref="main"><i class="fa fa-home fa-fw"></i><span translate>menu.home</span></a></li>
  <li class="active"><i class="fa fa-user-o fa-fw"></i><span translate>PT.USER</span></li>
  <li class="active"><i class="fa fa-list fa-fw"></i><span translate>P.USER_04</span></li>
</ol>

<div ng-controller='User.ActionLogCtrl'>
  <div class="panel panel-primary">
    <div class="panel-heading" layout="row" layout-align="space-between center">
      <span translate>user.actionlog.msg.18</span>
      <div class="btn-group">
        <button id="refreshBtn" class="btn btn-xs btn-primary " ng-click="refreshGrid()">
          <i class="fa fa-refresh fa-fw"></i>
          <md-tooltip>{{'msg.refresh' | translate}}</md-tooltip>
        </button>
        <button id="exportBtn" class="btn btn-xs btn-primary " ng-click="exportCSV()" privilege="USER_04:other">
          <i class="fa fa-save fa-fw"></i>
          <md-tooltip>{{'msg.export.csv' | translate}}</md-tooltip>
        </button>
      </div>
    </div>
    <div ag-grid="grid" style="height: 400px; width: 99.9%;" class="ag-fresh"></div>
  </div>
  <div layout="column" layout-gt-sm="row" ng-show="detail != null">
    <div class="panel panel-primary">
      <div class="panel-heading" translate>user.actionlog.msg.13</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <td translate>user.actionlog.msg.14</td>
              <td>:</td>
              <td>{{ detail.session.userId}}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.15</td>
              <td>:</td>
              <td>{{ detail.session.ipAddress}}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.17</td>
              <td>:</td>
              <td>{{ detail.session.userAgent}}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.16</td>
              <td>:</td>
              <td>{{ detail.session.logonDate}}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.26</td>
              <td>:</td>
              <td>{{ detail.session.lastAccess}}</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    <div class="pad10" hide-sm hide-xs></div>
    <div class="panel panel-primary" ng-show="userSession.rights['SUPER'].readEnable">
      <div class="panel-heading" translate>user.actionlog.msg.12</div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <td translate>user.actionlog.msg.14</td>
              <td>:</td>
              <td>{{ detail.doneBy }}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.08</td>
              <td>:</td>
              <td>{{ detail.actionType }}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.10</td>
              <td>:</td>
              <td>{{ detail.status }}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.09</td>
              <td>:</td>
              <td>{{ detail.message }}</td>
            </tr>
            <tr ng-hide="detail.status == 'SUCCESS'">
              <td translate>user.actionlog.msg.19</td>
              <td>:</td>
              <td>{{ detail.error }}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.22</td>
              <td>:</td>
              <td>{{ detail.className }}</td>
            </tr>
            <tr>
              <td translate>user.actionlog.msg.24</td>
              <td>:</td>
              <td>{{ detail.method }}
              <table class="table">
                  <tbody ng-repeat="p in detail.params">
                    <tr>
                      <td>{{p.index}}</td>
                      <td><json-formatter open="0" json="p.value"></json-formatter></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
